<div class="container mx-auto px-4 py-8">
 <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "max-w-sm mx-auto space-y-6" }) do |f| %>
   <label class="block text-xl font-bold text-gray-700">パスワードの再設定</label>

   <%= render "devise/shared/error_messages", resource: resource %>
   <%= f.hidden_field :reset_password_token %>

   <div class="mt-1">
     <%= f.label :password, "新しいパスワード", class: "text-gray-700 text-md" %>
     <%= f.password_field :password, autofocus: true, autocomplete: "new-password", 
         class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 p-1 block w-full sm:text-sm placeholder-gray-400 border border-gray-300 rounded-md" %>
   </div>

   <div class="mt-1">
     <%= f.label :password_confirmation, "新しいパスワード（確認）", class: "text-gray-700 text-md" %>
     <%= f.password_field :password_confirmation, autocomplete: "new-password", 
         class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 p-1 block w-full sm:text-sm placeholder-gray-400 border border-gray-300 rounded-md" %>
   </div>

   <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
     <%= f.submit "パスワードを変更する" %>
   </button>
 <% end %>


</div>