<% provide(:title, 'ログイン') %>
<div class="container mx-auto px-4 py-8">
  <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), class: "max-w-sm mx-auto space-y-6", local: true do |f| %>
    <label class="block text-xl font-bold text-gray-700">ログイン</label>

    <div class="mt-1">
      <label class="text-gray-700 text-md">
        メールアドレス
      </label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 p-1 block w-full sm:text-sm placeholder-gray-400 border border-gray-300 rounded-md", placeholder: "Bookroom@example.com" %>
    </div>

    <div class="mt-1">
      <label class="text-gray-700 text-md">
        パスワード
      </label>
      <%= f.password_field :password, autocomplete: "password", class: "shadow-sm   focus:ring-gray-500 focus:border-indigo-500 mt-1 p-1 block w-full sm:text-sm placeholder-gray-400 border border-gray-300 rounded-md", placeholder: "Bookroom" %>
      <%= link_to "パスワードを忘れた場合", new_password_path(resource_name), class: "text-sm text-gray-600 hover:text-indigo-500 mt-1 inline-block" %>
    </div>

    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <%= f.submit "ログイン" %>
    </button>

    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'ログインを記憶する' %>
    </div>
  <% end %>

  <div class="max-w-sm mx-auto mt-6 space-y-4">
    <%- if devise_mapping.confirmable? %>
      <%= link_to "ユーザー認証メールが届きませんでしたか？", new_confirmation_path(resource_name), 
          class: "block text-sm text-gray-600 hover:text-indigo-500" %>
    <% end %>

    <%- if devise_mapping.registerable? %>
      <%= link_to "新規登録はこちら", new_registration_path(resource_name), 
          class: "block text-sm text-gray-600 hover:text-indigo-500" %>
    <% end %>
  </div>
</div>